.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 90vw;
  margin: 80px 0 40px 0;
}

.screen-header__title {
  width: 55%;
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
